<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link href="styles.css" rel="stylesheet">
</head>
<body>

    <form id="applyjob" action="/applyjob" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="full-name">Full Name</label>
          <input type="text" id="full-name" name="full-name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" required>
        </div>
        <div class="form-group">
          <label for="resume">Resume</label>
          <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx" required>
        </div>
        <div class="form-group">
          <label for="cover-letter">Cover Letter</label>
          <textarea id="cover-letter" name="cover-letter" rows="5" required></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
      


    <script src="script.js" defer></script>
</body>
</html>